.header {
  background-color: #00b796;
  height: 800px;
}
.section-title {
  color: #00b796;
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: .02em;
  line-height: 1.2em;
  text-transform: none;
  text-align: center;
}
.paragraph {
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .02em;
  line-height: 1.7em;
  text-transform: none;
  color: #30324f;
  text-align: center;
  margin: 12px 0px;
}
.header-content {
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 54px;
  letter-spacing: .02em;
  line-height: 1.15em;
  text-transform: none;
  text-rendering: optimizeLegibility;
  width: 67%;
  margin: 0 auto;
}
.footer {
  background-color: #0c172a;
  padding: 24px;
  color: white;
  text-align: center;
  padding: 80px 0px;
}
.footer-title {
  color: #00b796;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  letter-spacing: .03em;
  line-height: 1.3em;
  text-transform: none;
}
.footer-p {
  color: #fff;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .02em;
  line-height: 1.7em;
  text-transform: none;

}
.actions-tabs > * {
  margin: 0px 24px;
}